<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVFishingScheduleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVFishingScheduleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FFXIVFishingScheduleViewer.Properties.Settings>
            <setting name="DaysOfForecast" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExpandedAreaGroupNames" serializeAs="String">
                <value />
            </setting>
            <setting name="FilteredFishNames" serializeAs="String">
                <value />
            </setting>
            <setting name="FishMemoList" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEnabledToCheckNewVersionReleased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindwIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionWindowPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionWindowSize" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionWindwIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailWindowPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailWindowSize" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailWindwIsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FishingChanceListTextEffect" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedMainViewTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedOptionCategoryTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedOptionAreaGroupTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RequestedToClearSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </FFXIVFishingScheduleViewer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FFXIVFishingScheduleViewer.Properties.Settings>
            <setting name="UrlOfDownloadPage" serializeAs="String">
                <value>https://github.com/rougemeilland/FFXIVFishingScheduleViewer/releases/latest</value>
            </setting>
        </FFXIVFishingScheduleViewer.Properties.Settings>
    </applicationSettings>
</configuration>